html,
body {
  margin: 0;
  min-height: 100vh;
  font-family: monospace;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input {
  background: none;
  border: none;
  font: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

h1,
h2 {
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
}

canvas {
  display: block;
}

.page-container {
  display: flex;
  flex-direction: row-reverse;
}

.half-page {
  width: 50%;
  height: 100vh;
  background-color: blue;
}

.main-section {
  display: flex;
  background: #efebab;
  background: -webkit-linear-gradient(0deg, #efebab 0%, #f0ea7e 100%);
  background: linear-gradient(0deg, #efebab 0%, #f0ea7e 100%);
  height: 500px;
}

.main-section__title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  line-height: 1;
  margin: -3px;
  padding-right: 500px;
}

.main-section__right-text {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: flex-start;
  align-self: center;
}

.main-section__subtitle {
  padding-top: 18px;
  font-size: 1.5rem;
}

.main-section__name {
  padding-left: 16px;
  padding-top: 32px;
}

.main-section__technologies {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  padding-top: 28px;
}

.main-section__technologies > li {
  width: fit-content;
  border: solid 1px;
  border-radius: 3px;
  padding: 6px;
}

.about-me {
  padding: 16px;
}

.about-me__text {
  padding-top: 12px;
  font-size: large;
}

.main-section__resume {
  font-size: larger;
  padding-top: 36px;
}

.projects-section {
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 38px;
  padding-left: 16px;
}

.projects-section__title {
  display: flex;
  text-underline-offset: 3px;
  text-decoration: underline;
  line-height: 1px;
}

.projects-section__projects {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
}

.project {
  padding-top: 6px;
}

.project__title {
  position: relative;
}

.project__title:hover .project__image {
  display: block;
  top: -228px;
}

.project__image {
  display: none;
  width: 400px;
  border: solid 0.1px rgb(0, 0, 0);
  border-radius: 16px;
  position: absolute;
  top: 100%;
  left: 0;

  z-index: 1;
}

.side-section {
  padding: 16px;
  padding-top: 38px;
}

.side-section__title {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.side-project__demo {
  padding-top: 16px;
  font-size: large;
}

.separation-line {
  width: 98%;
}

.contact {
  padding: 16px;
  margin-bottom: 64px;
}

.contact__mail-text {
  font-size: large;
}

.contact__links {
  display: flex;
  padding-top: 12px;
  gap: 12px;
}

.contact__link {
  width: 24px;
  height: 24px;
}

.video {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.video__back {
  font-size: large;
  color: white;
}
