html,
body {
  margin: 0;
  min-height: 100vh;
  font-family: monospace;
  overflow-x: hidden;
  animation: fadeIn 1s ease-in-out forwards; /* Adjust the duration and easing as needed */
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input {
  background: none;
  border: none;
  font: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

a {
  color: blue;
  text-decoration: none;
}

canvas {
  display: block;
  height: 100%;
}

.canva-container {
  height: 100%;
}

.page-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.half-page {
  width: 50%;
  height: 100vh;
  background-color: blue;
}

.main-section {
  display: flex;
  width: 100vw;
  background: #efebab;
  background: -webkit-linear-gradient(0deg, #efebab 0%, #f0ea7e 100%);
  background: linear-gradient(0deg, #efebab 0%, #f0ea7e 100%);
  height: 410px;
}

.main-section__title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  line-height: 1;
  margin: -3px;
  padding-right: 500px;
}

.main-section__right-text {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: flex-start;
  align-self: center;
}

.main-section__subtitle {
  padding-top: 18px;
  font-size: 1.3rem;
}

.main-section__name {
  padding-left: 16px;
  padding-top: 32px;
}

.main-section__technologies {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  padding-top: 22px;
}

.main-section__technologies > li {
  width: fit-content;
  font-size: 12px;
  border: solid 1px;
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
}

.about-me {
  padding-left: 16px;
}

.about-me__text {
  padding-top: 12px;
  font-size: medium;
}

.main-section__resume {
  font-size: large;
  padding-top: 12px;
}

.projects-section {
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 28px;
  padding-left: 16px;
}

.projects-section__title {
  display: flex;
  text-underline-offset: 3px;
  text-decoration: underline;
  line-height: 1px;
}

.projects-section__projects {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
}

.project__title {
  position: relative;
  padding-top: 12px;
}

.project__description {
  width: 800px;
  padding-top: 3px;
}

.project__title:hover .project__image {
  display: block;
  top: -228px;
}

.project__image {
  display: none;
  width: 400px;
  border: solid 0.1px rgb(0, 0, 0);
  border-radius: 16px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.side-section {
  padding-left: 16px;
  padding-top: 16px;
}

.side-section__title {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.side-project__demo {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;

  font-size: medium;
}

.side-project__title {
  padding-top: 12px;
}

.side-project__description {
  height: fit-content;
  padding-top: 3px;
}

.separation-line {
  width: 98%;
}

.contact {
  padding-top: 6px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.contact__mail-text {
  font-size: medium;
}

.contact__links {
  display: flex;
  padding-top: 12px;
  gap: 12px;
}

.contact__link {
  width: 24px;
  height: 24px;
}

.video {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.video__back {
  font-size: medium;
  color: white;
}

@media screen and (max-width: 768px) {
  .main-section__name {
    padding-left: 8px;
    padding-top: 32px;
  }
  canvas {
    display: none;
  }

  .page-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-section__subtitle {
    padding-top: 18px;
    font-size: 1.3rem;
    width: 300px;
  }

  .main-section {
    height: 470px;
    padding: 20px;
  }

  .main-section__technologies {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
    padding-top: 22px;
  }

  .about-me__text {
    padding-top: 12px;
    font-size: medium;
    width: 200px;
  }

  .half-page {
    width: 100%;
    height: auto;
  }

  .main-section__title {
    font-size: 2rem;
    padding-right: 0;
  }

  .main-section__right-text {
    padding: 10px;
  }

  .projects-section {
    padding: 32px;
  }

  .projects-section__title {
    font-size: 1.5rem;
  }

  .project__image {
    display: none;
  }

  .project__description {
    width: auto;
  }

  .side-section {
    padding-left: 32px;
    padding-top: 0;
    width: 300px;
  }

  .contact {
    padding-left: 32px;
    width: min-content;
  }
}
